@charset "UTF-8";

body{
    background: black url(imagens-cap19/wallpaper002.jpg) center center no-repeat fixed;
}

div.quadrado{
    display: inline-block;
    height: 300px;
    width: 300px;
    background-color: gray;
    border: 2px solid black;
    border-radius: 10px;
}

#q1{
    background-color:rebeccapurple;
}

#q2{
    background-image: linear-gradient(to bottom, yellow, orange);
}

#q3{
    background-image: url(imagens-cap19/pattern003.png);
}