@charset "UTF-8";

* {
    
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #FAD4D8, #DBD3C9, #B4CEB3, #88A0A8, #546A76);
}

p{
    text-align: justify;
}

main{
    background-color: white;
    width: 800px;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.514);
}

h1{
    color: #546A76;
    text-align: center;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.377);
}

h2{
    color: #F7A278;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.192);
}